<svg xmlns="http://www.w3.org/2000/svg" style="width: 100px; height: 100px;">
  <image href="/assets/img/icon.svg" style="fill: blue;"></image>
</svg>
<div class="container-fluid d-flex h-75">
    <aside class="mt-3">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <style>
                    ​path {
                      fill: blue;
                    }​
                </style>
                <image href="/assets/img/icon.svg"></image>
                <use href="#bootstrap"></use>
            </svg>
            <span class="fs-4">SubRoute</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/route/user1/act1" class="nav-link text-white {{ act1 }}" aria-current="page">
                <svg class="bi me-2" width="16" height="16">
                    <image href="/assets/img/icon.svg"></image>
                    <use href="#home"></use>
                </svg>
                Action1
                </a>
            </li>
            <li>
                <a href="/route/user2/act2" class="nav-link text-white {{ act2 }}">
                <svg class="bi me-2" width="16" height="16">
                    <image href="/assets/img/icon.svg"></image>
                    <use href="#speedometer2"></use>
                </svg>
                Action2
                </a>
            </li>
            <li>
                <a href="/route/user3/act3" class="nav-link text-white {{ act3 }}">
                <svg class="bi me-2" width="16" height="16">
                    <image href="/assets/img/icon.svg"></image>
                    <use href="#table"></use>
                </svg>
                Action3
                </a>
            </li>
            <li>
                <a href="/route/user4/act4" class="nav-link text-white {{ act4 }}">
                <svg class="bi me-2" width="16" height="16"><use href="#grid"></use></svg>
                Action4
                </a>
            </li>
            <li>
                <a href="/route/user5/act5" class="nav-link text-white {{ act5 }}">
                <svg class="bi me-2" width="16" height="16">
                    <image href="/assets/img/icon.svg"></image>
                    <use href="#people-circle"></use>
                </svg>
                Action5
                </a>
            </li>
            </ul>
        </div>
    </aside>

    <section class="bg-light w-100  vh-75 ml-auto" >
        <p class="h2 text-black">{{ name }}</p>
        <p class="h3 text-black">{{ action }}</p>
        <p class="h4 text-black">{{ message }}</p>
    </section>
</div>
